* {
    box-sizing: border-box;
}

body {
    background-color: #00b8ff;
    line-height: 1;
}

nav {
    background-color: #ffffff;
    color: #001f2b;
    font-family: 'Crimson Text', serif;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 20px;
}

header {
    padding: 5% 0;
    
}

h1 {
    font-family: 'Julius Sans One', sans-serif;
    color: #ffffff;
    text-align: center;
}

p {
    font-family: 'Julius Sans One', sans-serif;
    color: #ffffff;
}


.visual {
    min-height: 100px;
    padding: 10% 0;
    background-color: #009bd6;
    font-family: 'Crimson Text', serif;
    color: #ffffff;
}

.screen {
    min-height: 100px;
    padding: 10% 0;
    background-color: #00719c;
    font-family: 'Crimson Text', serif;
    color: #ffffff;
}

.color4 {
    min-height: 100px;
    padding: 10% 0;
    background-color: #00415a;
    font-family: 'Crimson Text', serif;
    color: #ffffff;
}

.color5 {
    min-height: 100px;
    padding: 10% 0;
    background-color: #001f2b;
    font-family: 'Crimson Text', serif;
    color: #ffffff;
}
